<div class="container mt-4 d-grid justify-content-center" style="text-align: center">
	<h1 class="font-roboto mb-0">Admin:</h1>
	<h1 class="font-roboto">Back-Office</h1>
	<p class="mt-3 mb-0 font-roboto">What do you wanna do?</p>

	<div class="container mt-4">
		<p class="font-roboto mb-0 fw-medium">User management:</p>
		<a class="btn-light-theme" asp-controller="users" asp-action="index">USER LIST</a>
		<a class="btn-light-theme" asp-controller="users" asp-action="register">REGISTER A USER</a>
	</div>
	<div class="container mt-4">
		<p class="font-roboto mb-0 fw-medium">Product management:</p>
		<a class="btn-light-theme" asp-controller="products" asp-action="list">PRODUCT LIST</a>
		<a class="btn-light-theme" asp-controller="products" asp-action="register">REGISTER A PRODUCT</a>
	</div>
</div>
