@import '../core/_colors.scss';
@import '../core/_fonts.scss';
@import '../core/_mixins.scss';

.hero {

    .container-fluid {
        //Background-image is set at the _Hero partial
        padding: 0;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include lg {
            height: 300px;
        }
    }

    .shop-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font-poppins;
        font-size: 30px;
        font-weight: $font-weight-bold;
        color: $color-white;

        span {
            font-size: 18px;
            font-weight: $font-weight-regular;
        }
    }
}
