@import '../core/_colors.scss';
@import '../core/_fonts.scss';
@import '../core/_mixins.scss';

.up-to-sell {
    background: $color-theme-2;

    .container {
        padding-top: 45px;
        padding-bottom: 45px;

        @include lg {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    .row {
        gap: 45px;
        justify-content: center;
        margin: 0;

        @include lg {
            .last {
                display: none;
            }
        }

        @include xxl {
            .last {
                display: block;
            }
        }
    }

    .col {
        width: 269px;
        padding: 0;

        @include sm {
            width: 369px;
        }
    }

    .card {
        width: 269px;

        @include sm {
            width: 369px;
        }

        .img-holder {
            width: 269px;

            @include sm {
                width: 369px;
            }

            img {
                width: 100%;
                border-radius: 0;
                transition: 0.45s ease-in-out;
            }
        }

        .card-body {
            display: block;
            padding: 20px;

            .card-link {
                display: inline-block;
                margin-bottom: 30px;
            }

            .card-body-holder {
                display: flex;
                justify-content: space-between;

                .price-holder {
                    display: flex;
                    align-items: center;

                    .card-previous-price {
                        margin: 0;
                        text-decoration: line-through;
                    }

                    .card-text {
                        margin-left: 15px;

                        @include sm {
                            margin-left: 30px;
                        }
                    }
                }

                .card-icon {
                    color: $color-black;

                    @include sm {
                        color: $color-dark-3;
                    }

                    &:hover {
                        color: $color-theme-1;
                    }
                }
            }
        }
    }

    .discount-info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: #363636;
        background: $color-white;
        height: 436px;

        @include sm {
            padding: 50px;
        }

        p {
            text-align: center;
            margin: 0;
            margin-bottom: 0px;

            @include sm {
                margin-bottom: 15px;
            }
        }

        .heading {
            color: $color-theme-1;
            font-size: 18px;
            font-weight: $font-weight-bold;
        }

        .procent {
            font-family: $font-playfair;
            font-size: 48px;
        }

        .best-price {
            font-weight: $font-weight-bold;
            font-size: 24px;
        }

        .text {
            display: none;
            font-family: $font-roboto;

            @include sm {
                display: block;
                margin-bottom: 30px;
            }
        }

        .link {
            margin-top: 15px;

            @include sm {
                margin-top: 0px;
            }
        }
    }
}
