$color-white: #FFFFFF;
$color-black: #000000;

$color-theme-1: #FA3150;
$color-theme-2: #FAEFEF;
$color-theme-3: #F3F2F2;
$color-theme-4: #efafaf;

$color-dark-1: #292929;
$color-dark-2: #636363;
$color-dark-3: #AEAEAE;
$color-dark-4: #CCCCCC;

$color-yellow: #F9C936;
$color-green: #92B8B9;
