<!-- google-map start -->
<section class="google-map">
    <div class="container-fluid">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.4243137864476!2d18.078887677043596!3d59.3425646746207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d469fa1c9a1%3A0xcf5d945e86a206f9!2sValhallav%C3%A4gen%20114%2C%20114%2041%20Stockholm%2C%20Sweden!5e0!3m2!1sen!2ses!4v1689149833235!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!-- google-maps end -->
