<div class="container mt-4">
	<a class="btn-light-theme" asp-controller="products" asp-action="list">PRODUCT LIST</a>
	<a class="btn-light-theme" asp-controller="products" asp-action="register">REGISTER A PRODUCT</a>
	<a class="btn-light-theme" asp-controller="admin" asp-action="index">ADMIN PAGE</a>
</div>
