<!-- up-to-sell start -->
<section class="up-to-sell background-styling" style="background-image: url(https://images.unsplash.com/photo-1563305145-b64e0c2184aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80)">
    <div class="container">

        <div class="row row-cols-3">

            <div class="col">
                <div class="card">
                    <div class="img-holder">
                        <img src="./images/lamp.jpg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <a class="card-link" asp-controller="products" asp-action="details">PLACEHOLDER</a>
                        <div class="card-body-holder">
                            <div class="price-holder">
                                <p class="card-previous-price">$50.00</p>
                                <p class="card-text">$30.00</p>
                            </div>
                            <a class="card-icon" href="#"><i class="fa-regular fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card discount-info">
                    <p class="heading">UP TO SELL</p>
                    <p class="procent">50% OFF</p>
                    <p class="best-price">Get The Best Price</p>
                    <p class="text">
                        Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita
                        kasd gubergren no sea taki
                    </p>
                    <a class="link" href="#">Discover more</a>
                </div>
            </div>


            <div class="col last">
                <div class="card">
                    <div class="img-holder">
                        <img src="./images/lamp.jpg" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <a class="card-link" asp-controller="products" asp-action="details">PLACEHOLDER</a>
                        <div class="card-body-holder">
                            <div class="price-holder">
                                <p class="card-previous-price">$50.00</p>
                                <p class="card-text">$30.00</p>
                            </div>
                            <a class="card-icon" href="#"><i class="fa-regular fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- up-to-sell end -->
