<div class="container mt-4">
	<a class="btn-light-theme" asp-controller="users" asp-action="index">USER LIST</a>
	<a class="btn-light-theme" asp-controller="users" asp-action="register">REGISTER A USER</a>
	<a class="btn-light-theme" asp-controller="admin" asp-action="index">ADMIN PAGE</a>
</div>
