<div class="container d-flex justify-content-center align-items-center flex-column ">
	<h1 class="mt-5 text-theme">You don't have access to this page!</h1>
	<img style="max-width: 500px" src="https://img.freepik.com/free-vector/tiny-people-standing-near-stop-sign-flat-vector-illustration-huge-red-sign-with-hand-symbolizing-ban-entry-danger-warning-caution-prohibited-actions-alert-risk-gesture-concept_74855-23219.jpg?w=996&t=st=1682338695~exp=1682339295~hmac=d5aeba44763bf27758a5d6d8ec97b6af4e7781978f59d7880156baceda1eb7de" />
	<a class="mt-2 btn-theme" asp-controller="account" asp-action="index">GO BACK TO MY ACCOUNT</a>
</div>
